li {
  list-style: none;
  display: inline-flex;
  padding: 7px;
}

span {
  background-color: blue;
}

.tabelaGrupos span {
  background-color: green;
}

.tabelaEliminatorias span {
  background-color: blue;
}

button {
  position: fixed;
}
#campeao {
  text-align: center;
  background: blueviolet;
}